# Analisis Exploratorio de Datos

Prueba Bi Lead
Eduardo Gonzalez Fierro

## Contexto

Eres el líder BI en la empresa ABC, una compañía de GAMBLING en COLOMBIA. Eres responsable de analizar datos para optimizar estrategias comerciales y operativas y los recursos relacionados con datos. Recuerda hacer propuestas de valor para el negocio basadas en los datos.

### Importar librerias

In [38]:
# Import las librerias necesarias para el análisis de datos
import pandas as pd
import numpy as np
from io import StringIO

### Explorar datos

In [ ]:
# Carga de datos

# leer todo el contenido del Excel como texto
raw = pd.read_excel('assetment-bookmaker.xlsx', engine='openpyxl', header=None, dtype=str)

# si el Excel tiene una sola columna con cada fila = línea CSV
if raw.shape[1] == 1:
    csv_text = raw.iloc[:, 0].str.cat(sep='\n')
    df = pd.read_csv(StringIO(csv_text))
else:
    # si las líneas CSV están repartidas en varias celdas por fila, unir por coma
    csv_text = raw.astype(str).apply(lambda r: ','.join(r.dropna()), axis=1).str.cat(sep='\n')
    df = pd.read_csv(StringIO(csv_text))

df

,Periodo,# Clicks,# Registros IN,# Primer depÃ³sito IN,Total depositado IN,# Personas que apostaron IN,Total apostado,Net revenue IN
0,2022-08-04,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-08,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-09,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-11-03,NaN,0.0,0.0,194.524900,1.0,194.524900,160.483043
4,2022-11-04,NaN,0.0,0.0,0.000000,1.0,44.174122,6.675201
...,...,...,...,...,...,...,...,...
442,2023-09-22,NaN,0.0,0.0,20.337191,1.0,60.688212,16.547864
443,2023-09-23,NaN,1.0,5.0,10010.929373,774.0,74746.940716,3160.019438
444,2023-09-23,NaN,0.0,0.0,0.000000,1.0,17.277301,6.835713
445,2023-09-24,NaN,2.0,8.0,9435.159241,891.0,62595.900804,1938.007500
446,2023-09-24,NaN,0.0,0.0,0.000000,1.0,8.273085,-2.384893

In [ ]:
# Renombrar columnas con caracteres especiales
df = df.rename(columns={'# Primer depÃ³sito IN':'# Primer depósito IN'})
df

,Periodo,# Clicks,# Registros IN,# Primer depósito IN,Total depositado IN,# Personas que apostaron IN,Total apostado,Net revenue IN
0,2022-08-04,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-08-08,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-08-09,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-11-03,NaN,0.0,0.0,194.524900,1.0,194.524900,160.483043
4,2022-11-04,NaN,0.0,0.0,0.000000,1.0,44.174122,6.675201
...,...,...,...,...,...,...,...,...
442,2023-09-22,NaN,0.0,0.0,20.337191,1.0,60.688212,16.547864
443,2023-09-23,NaN,1.0,5.0,10010.929373,774.0,74746.940716,3160.019438
444,2023-09-23,NaN,0.0,0.0,0.000000,1.0,17.277301,6.835713
445,2023-09-24,NaN,2.0,8.0,9435.159241,891.0,62595.900804,1938.007500
446,2023-09-24,NaN,0.0,0.0,0.000000,1.0,8.273085,-2.384893

In [ ]:
# Información del DataFrame, incluyendo tipos de datos y valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Periodo                      447 non-null    object
 1   # Clicks                     269 non-null    float64
 2   # Registros IN               424 non-null    float64
 3   # Primer depósito IN         424 non-null    float64
 4   Total depositado IN          404 non-null    float64
 5   # Personas que apostaron IN  404 non-null    float64
 6   Total apostado               404 non-null    float64
 7   Net revenue IN               404 non-null    float64
dtypes: float64(7), object(1)
memory usage: 28.1+ KB

En este punto podemos precenciar que en la mayoria de columnas del dataframe, existen valores faltantes, es necesario reemplazar esos valores faltantes o eliminarlos, para este caso ya que es un dataframe pequeño elimar los valores faltantes podria afectar la proyeccion que se esta requiriendo para el ejercicio.

Sin embargo procederemos a fortear cada una de las columnas al tipo de dato que corresponde.